@model NetCoreVideoUpload.Models.UploadVideosVM

@{
    ViewData["Title"] = "Upload";
}


<div id="message" class="row"  style=" background-color: #1B75BB;color: white;font-size:24px;border-radius: 30px; padding:20px;">
        Please upload a video message and/or picture wishing Burt well in his retirement.
        <form id="uploadForm" asp-action="Index" enctype="multipart/form-data">
            <label class="btn btn-light" style="font-size:24px; border-radius: 10px; margin:20px;" for="UploadedFile">Click here to upload</label>
            <input asp-for="UploadedFile" type="file" style="display:none" accept=".mp4,.mpeg,.jpeg,.jpg,.png,.mov,.ogg" onchange="fileSelected()" />
        </form>
</div>
<div id="burt" class="row">
    <img id="burt" src="~/images/burt_small.png" style="border-radius: 30px; margin-top: 10px; width:100%" />
</div>
<div id="loading" class="row" style="display:none; ">
    <img src="~/images/circle-loading-animation.gif" style="width: 100%; border-radius:100px" />
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">


        function loading() {
            $('#message').hide();
            $('#burt').hide();
            $('#loading').show();
        }

        function fileSelected() {
            loading();
            $('#uploadForm').submit();
            $('#uploadForm').get(0).reset();
        }

    </script>

}
