
@{
    ViewData["Title"] = "Thank you";
}

<div class="row" style="background-color: #1B75BB;color: white;font-size:24px;border-radius: 30px; padding:20px;">
    Thank you for your contribution! We will share a link to the final video after Burt has viewed it.
</div>
    <div class="row">
        <img src="~/images/Thank-you-pinned-note.png" style="width: 100%; padding-top: 20px;" />
    </div>



